@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --week-table-cell-width: 100px;
    --week-table-cell-height: 50px;
}

/* Path: src/App.css required for Draggable to work - position (relative or absolute), width, and height*/
.week-background {
    position: relative;
    width: 100%;
    height: 100%;
}

.calendar-week-view {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#table-container {
    width: 800px;
    height: 500px;
    overflow: auto;
}

thead {
    position: sticky;
    top: 0;
    background: white;
}

tbody {
    overflow-y: scroll;
    background-color: antiquewhite;
}

td,
th {
    width: var(--week-table-cell-width);
    height: var(--week-table-cell-height);
}

td:hover {
    background-color: lightgray;
}

tr td:first-child {
    background-color: white;
    text-align: right;
}

#create-event-form {
    width: 400px;
}